.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.Content {
  background-color: red;
  min-width: 500px;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

span.spoiler {
  color: #a00;
  background-color: gray;
  font-weight: bold;
}

div.guessed {
  background-color: aquamarine;
  padding: 2px;
}

#userEntry input {
  background-color: bisque;
  width: 10em;
}

#userEntry span.ant-input-affix-wrapper {
  width:10em;
}

div.unguessed {
  /* background-color: red; */
  padding: 2px;
}

div.header_detail {
  color: antiquewhite;
}

div.sider {
  color: antiquewhite;
}

p.warning {
  background-color: mediumpurple;
}

.error_message {
  background-color:#bbb ;
  color: #a00;
}


#games_table {
  /* from https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#games_table tr[current] {
  background-color: lightpink;
}

span[current] {
  background-color: lightpink;
}

#games_table td, #games_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#games_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #347a60;
  color: white;
}

/* from https://alvarotrigo.com/blog/css-alerts/ */
div.status_message {
    position: relative;
    top: 10;
    left: 0;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
}

span.status_text {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

div.status_message[flavor="info"] {
  background-color: #EEE;
  border: 1px solid #DDD;
  color: #999;
}

div.status_message[flavor="success"] {
  background-color: #EFE;
  border: 1px solid #DED;
  color: #9A9;
}

div.status_message[flavor="notice"] {
  background-color: #EFF;
  border: 1px solid #DEE;
  color: #9AA;
}

div.status_message[flavor="warning"] {
  background-color: #FDF7DF;
  border: 1px solid #FEEC6F;
  color: #C9971C;
}

div.status_message[flavor="error"] {
  background-color: #FEE;
  border: 1px solid #EDD;
  color: #A66;
}