.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

span.spoiler {
  color: #a00;
  background-color: gray;
  font-weight: bold;
}

div[current="no"] {
  display:none;
}

div[current="yes"] {
  display:block;
}

#userEntry input {
  background-color: bisque;
  width: 10em;
}

#userEntry span.ant-input-affix-wrapper {
  width:10em;
}

div.unguessed {
  /* background-color: red; */
  padding: 2px;
}

div.header_detail {
  background-color: antiquewhite;
  color: black;
}

div.sider {
  color: antiquewhite;
}

span.warning {
  background-color: lightcoral;
}

.error_message {
  background-color:#bbb ;
  color: #a00;
}

div.background_circle {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    border-width: 4px;
    border-color: red;
    display: inline-block;
    z-index: 0;
  }

div.card_face_border {
  position: relative; /* my kids are relative to me */
  border-radius: 8px;
  border: 4px solid seagreen;
  width: 320px;
  height: 320px; 
}

ul.machine_select div.card_face_border:hover {
  border: 6px solid goldenrod;
}

div.card_face_prize_image {
  position: absolute;
  bottom: 8px;
  left: 8px;
  z-index: 0;
}

div.card_face_madeby_image {
  position: absolute;
  top: 8px;
  right: 40px;
  z-index: 0;
}

div.card_face_level_image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
div.card_face_level_value {
  position: absolute;
  top: 8px;
  left: 11px;
  z-index: 1;
  font-weight: bold;
  font-size:larger;
}

div.card_face_value {
  position: absolute;
  top: 40px;
  left: 2%;
  z-index: 1;
  font-style: italic;
}

div.card_face_title {
  position: absolute;
  top: 8px;
  left: 40px;
  z-index: 1;
  font-style: italic;
  font-size:larger
}

div.card_face_weapon_image {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 0;
  opacity: 30%;
}
div.card_face_weapon_value {
  position: absolute;
  top: 8px;
  right: 14px;
  z-index: 1;
  font-weight: bold;
  font-size:xx-large;
  color:black;
}

div.card_face_armor_image {
  position: absolute;
  top: 8px;
  right: 6px;
  z-index: 0;
  opacity: 30%;
}
div.card_face_armor_value {
  position: absolute;
  top: 8px;
  right: 14px;
  z-index: 1;
  font-weight: bold;
  font-size:xx-large;
  color:black;
}


div.card_face_description {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 5;
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;
  text-align: left;
}
div.card_face_description_bg {
  z-index: 1;
  opacity: 40%;
  position: absolute;
  bottom: 10px;
  left: 50px;
  width: 200px;
}
img.fight_image {
  z-index: 0;
  opacity: 90%;
  width: 200px;
}

button.fight_button {
  font-size: larger;
  margin-top: 90px;

}

button.fight_button:hover {
  background-color: salmon;
}



div.deck {
  /* from https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

div.deck tr[current] {
  background-color: lightpink;
}

div.deck tr {
  cursor: hand;
}

div.deck td, div.deck th {
  border: 1px solid #ddd;
  padding: 8px;
}

div.deck th {
  background-color: rgb(168, 135, 52);
}

div.deck[flavor="merchant"] th {
  background-color: rgb(168, 135, 52);
  color: white; 
}

div.deck[flavor="player"] th {
  background-color: lightblue;
  color: black; 
}

div.deck[flavor="inventory"] th {
  background-color: lightgray;
  color: black; 
}


div.deck[flavor="backpackable"] th {
  background-color: lightgray;
  color: black; 
}


div.deck[flavor="backpack"] th {
  background-color: wheat;
  color: black; 
}

span[has=no] {
  background-color: #E0E0E0;
}

span[has=yes] {
  background-color: #D0EED0;
}

span[reachable=yes] {
  background-color: #D0EED0;
}
span[reachable=no] {
  background-color: #CCC;
}
button[reachable=yes] {
  background-color: #D0EED0;
}
button[reachable=no] {
  background-color: #CCC;
}

span[current] {
  background-color: lightpink;
}
tr[current] {
  background-color: lightpink;

}

div.picker_step span.leadin {
  font-weight: bold;
}

span.step {
  font-weight: bold;
}
div[steps="2"] {
  font-size: 12pt;
}
div[steps="3"] {
  font-size: 10pt;
}
div[steps="4"] {
  font-size: 9pt;
}

div[steps="5"] {
  font-size:7pt;
}
.step_list {
  list-style-type: upper-alpha;
  text-overflow: ellipsis;
}

.dont_have {
  font-size: smaller;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(245, 213, 218);
}


/* from https://alvarotrigo.com/blog/css-alerts/ */
div.status_message {
    position: relative;
    top: 10;
    left: 0;
    width: 60%;
    height: auto;
    padding: 10px;
    margin: 10px;
    line-height: 1.8;
    border-radius: 5px;
    cursor: hand;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
}

span.status_text {
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

div.status_message[flavor="info"] {
  background-color: #EEE;
  border: 1px solid #DDD;
  color: #999;
}

div.status_message[flavor="success"] {
  background-color: #EFE;
  border: 1px solid #DED;
  color: #9A9;
}

div.status_message[flavor="clickable"] {
  background-color: rgb(100, 172, 100);
  border: 3px solid #DED;
  color: black;
}

div.status_message[flavor="notice"] {
  background-color: #EFF;
  border: 1px solid #DEE;
  color: #9AA;
}

div.status_message[flavor="warning"] {
  background-color: #FDF7DF;
  border: 1px solid #FEEC6F;
  color: #C9971C;
}

div.status_message[flavor="error"] {
  background-color: #FEE;
  border: 1px solid #EDD;
  color: #A66;
}

button.merchant[current="no"] {
  background-color: white; 
  color: black; 
  border: 1px solid black;
}

button.merchant[current="yes"] {
  background-color: lightblue;
  color: black; 
  border: 4px solid seagreen;
}

div.workshop {
  display: block;
}

div.workshop_machine {
  position: relative;
  display:inline-block;
}

div.workshop_machine div.preamble {
  text-align: left;
}

div.workshop_machine div.postamble {
  text-align: left;
}

div.workshop_inputs {
  position:relative;
  display:inline-block;
  vertical-align: top; /* dunno why this is needed, but it is */
}

#machine_do:not([disabled]) {
background-color: greenyellow;
height: 40px;
}

#seer_do {
background-color: greenyellow;
height: 40px;
}

img.nav_arrow {
  margin-left: 1em;
  margin-right: 1em;
  z-index: 5;
}

span.score_0 {
  background-color: lightcoral;
}

span.score_1 {
  background-color: lightyellow;
}

span.score_2 {
  background-color: lightgreen;
}

div.recipe_description {
  font-size: larger;
}

img.thumb_icon {
  width: 24px;
  margin-left: 8px;
}

tbody tr {
  cursor: pointer;
}

img.consumed_icon {
  width: 24px;;
  border:0;
  vertical-align: middle;
}

span.wear_damage {
  font-weight: bolder;
  color: darkred;
}

div[horiz] {
  display: inline-block;
}

ul.repair_list {
  cursor: pointer;
}

ul.repair_list li:hover {
  background-color: pink;
}

div.map_display {
  position: relative;
  height: 500px;
}

div.map_rooms_display {
  text-align: left;
  width: 720px;
  z-index: 1;
}

img.biome_pic {
  width: 192px;
  position: absolute;
  opacity: 30%;
  z-index: 0;
  pointer-events: none;
}

img[quadrant='nw'] {
  left: 24px;
  top: 0;
}

img[quadrant='ne'] {
  left: 240px;
  top: 0;
}

img[quadrant='sw'] {
  left: 24px;
  top: 216px;
}

img[quadrant='se'] {
  left: 240px;
  top: 216px;
}

ul.fight_log_rows {
  list-style-type: none;
}

ul.map_room_rows {
  list-style-type: none;
}

ul.seer_input_list {
  list-style-type: none;
}

button.map_room_button {
  width:40px;
  height: 30px;
  margin-left: 0px;
  margin-right: 0px;;
  border-left: 0px;
  border-right: 0px;
}

div.fight_outer {
  width: 600px;
  height: 600px;
}

div.fight_header {
  background-size: cover;
  background-clip: border-box;
}

tr.fight_top_row {
  vertical-align: bottom;
}

tr.fight_bottom_row {
  vertical-align: top;
}

td.fight_rhs {
  padding-left: 2em;
}

td.fight_rhs[fighting] {
  background-color: #bbb;
}

tr.fight_top_row td.fight_rhs {
  vertical-align: middle;
}

tr.fight_top_row td.fight_rhs[affinity="1"] {
  background-image: url('../public/pix/biomes/bg_1_25.png');
}
tr.fight_top_row td.fight_rhs[affinity="2"] {
  background-image: url('../public/pix/biomes/bg_2_25.png');
}
tr.fight_top_row td.fight_rhs[affinity="3"] {
  background-image: url('../public/pix/biomes/bg_3_25.png');
}
tr.fight_top_row td.fight_rhs[affinity="4"] {
  background-image: url('../public/pix/biomes/bg_4_25.png');
}


div.fight_header[affinity="1"] {
  background-image: url('../public/pix/biomes/bg_1_25.png');
}
div.fight_header[affinity="2"] {
  background-image: url('../public/pix/biomes/bg_2_25.png');
}
div.fight_header[affinity="3"] {
  background-image: url('../public/pix/biomes/bg_3_25.png');
}
div.fight_header[affinity="4"] {
  background-image: url('../public/pix/biomes/bg_4_25.png');
}

ul.trophy_rows {
  list-style-type: none;
}
ul.trophy_rooms li {
  display: inline-block;
  text-align: left;
}
ul.trophy_row {
  list-style-type: none;
  text-align: left;

}
ul.trophy_row li {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
div.trophy_row_level span[level]{
  font-size: x-large;
}
div.trophy_row_level[level="8"] {
  background-color: white;
}
div.trophy_row_level[level="7"] {
  background-color: lightgoldenrodyellow;
}
div.trophy_row_level[level="6"] {
  background-color: gold;
}
div.trophy_row_level[level="5"] {
  background-color: silver;
}
div.trophy_row_level[level="4"] {
  background-color: lightgray;
}
div.trophy_row_level[level="3"] {
  background-color: burlywood;
}
div.trophy_row_level[level="2"] {
  background-color: burlywood;
}
div.trophy_row_level[level="1"] {
  background-color: lightskyblue;
}

div.trophy {
  border-radius: 6px;
  border: 2px solid seagreen;
  width: 100px;
  height: 200px;
  vertical-align: top;
  background-image: url('../public/pix/general/blue_ribbon_no.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

div.trophy span {
  text-transform: capitalize;
}

div.trophy[have="noshow"] {
  display: none;
}

div.trophy[have="yes"] {
  /* color: white; */
  border: 3px solid gold;
  background-image: url('../public/pix/general/blue_ribbon_yes.png');
}

div.trophy[have="yes"][which="8"] {
  color: black;
  background-image: url('../public/pix/trophy_backgrounds/made_yes.png');
}

div.trophy[have="yes"][which="9"] {
  color: black;
  background-image: url('../public/pix/trophy_backgrounds/buying_yes.png');
}
div.trophy[have="yes"][which="10"] {
  color: black;
  background-image: url('../public/pix/trophy_backgrounds/sale_yes.png');
}

div.trophy[have="yes"][which="23"] {
  color: black;
  background-image: url('../public/pix/trophy_backgrounds/died_7_yes.png');
}

div.trophy[have="yes"][which="11"] {
  color: black;
  background-image: url('../public/pix/trophy_backgrounds/forensics_yes.png');
}

div.trophy[have="yes"][which="26"] {
  color: black;
  background-image: url('../public/pix/trophy_backgrounds/runaway_yes.png');
}

span.affinity {
  font-weight: bold;
  font-style: italic;
}

span.map_biome_label {
  text-transform: capitalize;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-size: contain;
  background-clip: content-box;
}

div.seer_component {
  position: relative;
}

span.new_news {
  color: red;
  font-weight: bold;
  background-color: white;
}

div.news_half {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

button.disabled {
  color: gray;
}

div.player_status {
  background-color: lightgray;
  color: black;
  text-align: left;
}

#fight_dialog {
  z-index: 5;
  width: 600px;
}

#fight_dialog[fighting] {
  background-color: #9AA;
}

button.run_away_button {
  background-color: yellow;
  color: black;
  font-size: smaller;
  text-align: left;
  border: 2px dashed lightblue;
}

button.fight_on_button {
  background-color: palegreen;
  color: black;
  font-size: larger;
  text-align: right;
  border: 4px solid goldenrod;
  position: absolute;
  right: 8px;
  bottom: -8px;
}

.width200 {
  width: 200px;
}

.width250 {
  width: 250px;
}

div.buy_needed {
  background-color: lightgoldenrodyellow;
}

div.button_bar {
  text-align: left;
}

div.button_bar_image {
  display: inline-block;
}

div.button_bar_buttons_and_text {
  display: inline-block;
}

img.board_room {
  width:96px;
  margin-left: 10px;
}

span.play_by_play[flavor="warning"] {
  background-color: lightyellow;
}

span.play_by_play[flavor="good"] {
  background-color: #c9e8c9;
}

span.play_by_play[flavor="bad"] {
  background-color: salmon;
}

button.buy_button {
  background-color: #c9e8c9;
}

ol.shopping_cart {
  list-style-type: decimal;

}
